@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(../Java/contsliderResp.js);

.contSlider2{
    display: none;
}
@media screen and (max-width: 600px){

.contSlider2{
    display: block;
    width: 100%;
    margin: 0 auto;
}

.carroselSlider2{
    border: 1px solid #999999;
    height: 100%;
    position: relative;
    overflow: hidden;
   
}
.controlsResp .arrowResp{
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.arrowResp.leftResp{
    left: 10 px;
}
.arrowResp.rightResp{
    right: 10px;
}
.sliderResp{
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}
.sliderResp section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderResp section img{
    width: 100%;
}
.material-icons { 
    font-size: 48px;
    color: #FB8C00;
 }
 .controlsResp ul{
position: absolute;
bottom: 10px;
left: 50%;
list-style: none;
transform: translate (-50%);
display: flex;
padding: 0;
margin: 0;
 }
 .controlsResp ul li{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    margin: 0px 10px 0px 10px ;
    background-color: #02020260;
    cursor: pointer;
 }
 .controlsResp ul .pointselectResp {
    background-color: #f76b6bb7;
 }
}