@import url(https://fonts.googleapis.com/icon?family=Material+Icons);


.contSlider{
    width: 100%;
    margin: 0 auto;
}

.carroselSlider{
    border: 1px solid #999999;
    height: 100%;
    position: relative;
    overflow: hidden;
}
.controls .arrow{
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.arrow.left{
    left: 10px;
}
.arrow.right{
    right: 10px;
}
.sliderTop{
    height: 100%;
    display: flex;
    width: 400%;
    transition: all 0.3s;
}
.sliderTop section{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sliderTop section img{
    width: 100%;
}
.material-icons { 
    font-size: 48px;
    color: #FB8C00;
 }
 .controls ul{
position: absolute;
bottom: 10px;
left: 50%;
list-style: none;
transform: translate(-50%);
display: flex;
padding: 0;
margin: 0;
 }
 .controls ul li{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    border: 1px solid #333;
    margin: 0px 10px 0px 10px ;
    background-color: #02020260;
    cursor: pointer;
 }
 .controls ul .pointselect {
    background-color: #f76b6bb7;
 }