
/* font-family: 'Edu TAS Beginner', cursive;
font-family: 'Open Sans', sans-serif;*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    
    
}

.barraTopo{
    background-color: #687D77;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;            
}
.barraTopo p{
    color: #ffffff;
    padding: 0px 5px px 0px;
    font-variant-caps: small-caps;
    font-family: 'Open Sans', sans-serif;
}
.barraLogo{
cursor: pointer;
}
.textoAn01{
    height: 50px;
    position: relative;
    background: #687D77;
    border-top: 1px solid #ffffff;
    width: 100%;
    overflow: hidden;
    
}
.textoAn01 div{
    position:absolute;
    display: flex;
    width: 300%;
    margin: 0;
    line-height: 50px;
    justify-content: space-around;
    align-items: center;
    -moz-animation: scroll-left 2s linear infinite;
    -webkit-animation: scroll-left 2s linear infinite;
    animation: scroll-left 40s linear infinite; 
    transition: all 0.6s;
    
}
.textoAn01 div p{
   
    font-weight: 300;
    margin: 0;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    -moz-transform: translateX(300%);
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
    
   
}
@-moz-keyframes scroll-left {
    0% {
        -moz-transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes scroll-left {
    0% {
        -webkit-transform: translateX(0%);
    }
    100% {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes scroll-left {
    0% {
        -moz-transform: translateX(0%);
        -webkit-transform: translateX(0%);
        transform: translateX(0%);
    }
    100% {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    } 
  
}